.button {
  font: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $basic-white;
  text-align: center;
  background-color: $basic-green;
  border: none;
  cursor: pointer;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $secondary-green;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }

  &--gray {
    color: $special-gray-darker;
    background-color: $basic-gray;

    &:hover,
    &:focus {
      background-color: $special-gray-light;
    }

    &:active {
      color: rgba($special-gray-darker, 0.3);
    }
  }
}
