.cat-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.cat-slider__list {
  @include reset-list-style();
}

.cat-slider__demo {
  position: relative;
  justify-content: center;
  width: 320px;
  height: 232px;

  @media #{$tablet} {
    width: 708px;
    height: 510px;
  }

  @media #{$desktop} {
    margin-bottom: 16px;
    width: 620px;
    height: 507px;
  }
}

.cat-slider__fat-img,
.cat-slider__skinny-img {
  position: absolute;
  bottom: 0;

  @media #{$tablet} {
    height: 510px;
  }

  @media #{$tablet} {
    height: 507px;
  }
}

.cat-slider__fat-img {
  left: 0;

  @media #{$tablet} {
    width: 354px;
  }

  @media #{$desktop} {
    width: 335px;
  }
}

.cat-slider__skinny-img {
  right: 0;

  @media #{$mobile-only} {
    display: none;
  }

  @media #{$tablet} {
    width: 354px;
  }

  @media #{$desktop} {
    width: 285px;
  }
}

.cat-slider__control {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$tablet} {
    padding-top: 22px;
  }

  @media #{$desktop} {
    padding: 28px 0 0 49px;
  }
}

.cat-slider__input {
  @media #{$tablet} {
    margin: 0 11px 0 14px;
    width: 428px;
  }
}

.cat-slider__button {
  padding: 0;
  font-family: $oswald-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-dark;
  cursor: pointer;
  border: 0;

  @media #{$tablet} {
    padding-bottom: 1px;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba($basic-dark, 0.4);

    &:hover {
      border-bottom: 1px solid rgba($basic-dark, 0.4);
    }

    &:active {
      padding-bottom: 2px;
      border-bottom: none;
    }
  }
}


.cat-slider__range-controls {
  position: relative;
  margin: 0 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$tablet} {
    margin: 0;
    height: 36px;
    padding: 14px 22px;
  }
}

.cat-slider__scale {
  padding: 4px 9px;
  width: 84px;
  height: 14px;
  background-color: $basic-white;
  border-radius: 6px;

  @media #{$tablet} {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
  }
}

.cat-slider__bar {
  @media #{$mobile-only} {
    width: 52%;
    height: 6px;
    background-color: $main-color;
    border-radius: 6px;
  }
}

.cat-slider__thumb {
  @media #{$tablet} {
    position: absolute;
    left: 221px;
    padding: 0;
    width: 34px;
    height: 34px;
    background-color: $basic-white;
    border: 1px solid #cdcdcd;
    filter: drop-shadow(0 1px 3px rgba($basic-dark, 0.16));
    border-radius: 50%;
    transition: all 0.1s;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      background-color: $main-color;
      border-radius: 50%;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
