.features {
  padding: 28px 0 42px;

  @media #{$tablet} {
    padding: 45px 0 6px;
    border-bottom: 1px solid $special-gray-light;
  }

  @media #{$desktop} {
    padding: 41px 0 1px;
    border: none;
  }
}

.features__title {
  margin: 0 0 38px;
  font-family: $oswald-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;

  @media #{$tablet} {
    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  @include reset-list-style();

  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    margin-bottom: -37px;
    padding: 34px 0 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media #{$desktop} {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.features__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  min-height: 60px;

  @media (min-width: 370px) and (max-width: 767px) {
    align-items: center;

    .features__description {
      padding-top: 0;
    }
  }

  @media #{$tablet} {
    padding: 0 0 57px;
    margin-right: 79px;
    flex-direction: column;
    width: 245px;
    min-height: 280px;

    /* numbering bg */

    &::before {
      position: absolute;
      top: -39px;
      right: 0;
      font-size: 280px;
      line-height: 1;
      color: $basic-gray;
      z-index: -1;
    }

    &:nth-child(1)::before {
      content: "1";
      right: 16px;
    }

    &:nth-child(2)::before {
      content: "2";
    }

    &:nth-child(3)::before {
      content: "3";
    }

    &:nth-child(4)::before {
      content: "4";
    }
  }

  @media (min-width: 830px) {
    margin-right: 50px;
  }

  @media #{$desktop} {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 0;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media #{$tablet} {
      margin-bottom: 37px;
    }

    @media #{$desktop} {
      margin-bottom: 0;
    }
  }
}

.features__icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background-color: $basic-green;

  @media #{$tablet} {
    width: 80px;
    height: 80px;
  }
}

.features__description {
  margin: 0;
  padding: 2px 0 0 20px;
  font-family: $arial-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-gray-darker;

  @media #{$tablet} {
    padding: 31px 0 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media #{$desktop} {
    padding: 31px 0 39px;
  }
}
