.location {
  &--gray {
    background-color: $basic-gray;

    .location__info-block {
      background-color: $basic-gray;

      @media #{$desktop} {
        background-color: $basic-white;
      }
    }

    @media #{$desktop} {
      background-color: $basic-white;
    }
  }
}

.location__wrapper {
  @media #{$desktop} {
    position: relative;
  }
}

.location__info-block {
  padding: 28px 0 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $basic-white;

  @media #{$tablet} {
    padding: 62px 37px 58px 42px;
  }

  @media #{$desktop} {
    position: absolute;
    top: 95px;
    left: 0;
    padding: 62px 89px 58px 76px;
    width: 570px;
    z-index: 1;
  }
}

.location__invite {
  margin: 0;
  font-family: $oswald-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: $basic-black-light;

  @media #{$tablet} {
    font-size: 20px;
    line-height: 27px;
  }
}

.location__address {
  padding-right: 4px;
  font-family: $arial-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $special-gray-darker;

  @media #{$tablet} {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media #{$desktop} {
    text-align: start;
  }

  p {
    margin: 0;

    &:not(:last-child) {
      @media #{$tablet} {
        margin-bottom: 20px;
      }
    }
  }
}

.location__map {
  iframe {
    display: block;
    width: 100%;
    border: none;

    @media #{$tablet} {
      height: 400px;
    }
  }
}
