.main-nav {
  position: relative;
  margin: 0 -20px;
  border-top: 1px solid $special-gray-light;

  @media #{$tablet} {
    border-top: none;
    margin: 0;
  }
}

.main-nav__wrapper {
  @media #{$mobile-only} {
    overflow: hidden;
  }
}

.main-nav__list {
  @include reset-list-style();

  display: none;
  font-family: $oswald-font;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media #{$mobile-only} {
    animation: menuSlow 0.2s 1 ease-in-out;
  }

  @media #{$tablet} {
    padding: 16px 0 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 24px;
    max-width: 610px;
  }

  @media #{$desktop} {
    padding: 16px 0 0;
    justify-content: flex-end;
    font-size: 20px;
    line-height: 30px;
  }

  .main-nav--no-js &,
  .main-nav--opened & {
    display: block;

    @media #{$tablet} {
      display: flex;
    }
  }
}

.main-nav__item {
  border-bottom: 1px solid $special-gray-light;

  @media #{$tablet} {
    border-bottom: none;

    &:not(:first-child) {
      margin-left: 36px;
    }
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 22px 20px 23px;
  font-weight: 500;
  cursor: pointer;

  @media #{$tablet} {
    padding: 0 0 8px;
    font-weight: 400;
    color: $basic-black;

    &[href]:hover,
    &[href]:focus {
      color: rgba($basic-black, 0.7);
    }

    &[href]:active {
      color: rgba($basic-black, 0.5);
    }
  }
}

.main-nav__link--current {
  cursor: default;

  @media #{$tablet} {
    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $basic-green;
    }
  }
}

.page-header--index .main-nav__link {
  @media #{$desktop} {
    color: $basic-white;

    &[href]:hover,
    &[href]:focus {
      color: rgba($basic-white, 0.7);
    }

    &[href]:active {
      color: rgba($basic-white, 0.5);
    }
  }
}

.page-header--index .main-nav__link--current {
  cursor: default;

  @media #{$desktop} {
    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $basic-white;
    }

    &[href]:hover,
    &[href]:focus {
      &::after {
        background-color: rgba($basic-white, 0.7);
      }

      &[href]:active {
        &::after {
          background-color: rgba($basic-white, 0.5);
        }
      }
    }
  }

  @media #{$desktop} {
    color: $basic-white;

    &[href]:hover,
    &[href]:focus {
      color: rgba($basic-white, 0.7);
    }

    &[href]:active {
      color: rgba($basic-white, 0.5);
    }
  }
}

/* Burger button */

.main-nav__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0;
  top: -44px;
  right: 20px;
  width: 24px;
  height: 18px;
  background: none;
  cursor: pointer;
  border: none;

  @media #{$tablet} {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 24px;
    height: 2px;
    background-color: $basic-black;
    box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 24px;
    height: 2px;
    background-color: $basic-black;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: $basic-black;
    transition: transform 0.3s;
    box-shadow: none;
  }

  &::before {
    transform: translateY(8px) rotate(45deg);
  }

  &::after {
    bottom: 0;
    transform: translateY(-8px) rotate(-45deg);
  }


  &:active::before,
  &:active::after {
    background-color: rgba($basic-black, 0.3);
  }
}

@media #{$mobile-only} {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--no-js .main-nav__toggle {
    display: none;
  }
}

@keyframes menuSlow {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0);
  }
}
