.optional-items {
  padding: 0;
  margin: 0;
  font-family: $oswald-font;
  list-style: none;

  @media #{$tablet} {
    margin-top: 46px;
    border: none;
  }

  @media #{$desktop} {
    margin-top: 45px;
    width: 100%;
    max-width: 895px;
    border-top: 1px solid $special-gray;
  }
}

.optional-items__item {
  padding: 13px 0 16px;
  border-top: 1px solid $special-gray;

  @media #{$tablet} {
    padding: 24px 36px 27px 38px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    border: 1px solid $special-gray;
    border-bottom: 0;
  }

  @media #{$desktop} {
    padding: 15px 0 16px;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: nowrap;
    border: none;
    border-bottom: 1px solid $special-gray;
  }

  &:last-child {
    border-bottom: 1px solid $special-gray;
  }
}

.optional-items__name {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-gray-darkest;

  @media #{$tablet} {
    width: 50%;
    font-size: 20px;
    line-height: 20px;
  }

  @media #{$desktop} {
    flex-grow: 1;
    width: 230px;
  }
}

.optional-items__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 14px;
  font-family: $arial-font;
  font-size: 14px;
  line-height: 14px;

  @media #{$tablet} {
    align-items: flex-start;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media #{$desktop} {
    width: 288px;
  }
}

.optional-items__amount,
.optional-items__price {
  margin: 0;
  font-weight: 400;

  color: $special-gray-darker;
}

.optional-items__amount {
  @media #{$tablet} {
    flex-shrink: 0;
  }

  @media #{$desktop} {
    max-width: 200px;
  }
}

.optional-items__price {
  @media #{$tablet} {
    padding-left: 49px;
  }

  @media #{$desktop} {
    flex-shrink: 0;
    padding-left: 49px;
    max-width: 150px;
  }
}

.optional-items__button {
  padding: 8px 44px;

  @media #{$tablet} {
    margin-top: 23px;
    min-height: 40px;
    width: 100%;
  }

  @media #{$desktop} {
    margin: 0;
    margin-left: 38px;
    max-width: 244px;
    min-height: 40px;
  }
}
