.optional-items {
  @include reset-list-style();

  margin: 0 -20px;
  font-family: $oswald-font;
  border-top: 1px solid $catalog-border-color;
}

.optional-items__item {
  padding: 13px 20px 25px;
  border-bottom: 1px solid $catalog-border-color;
}

.optional-items__name {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $optional-name-color;
}

.optional-items__amount,
.optional-items__price {
  margin: 0;
  font-family: $arial-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.optional-items__button {
  padding: 10px 44px;
}
