.page-footer {
  background-color: $basic-gray;

  @media #{$tablet} {
    padding: 24px 0 31px;
  }

  @media #{$desktop} {
    padding: 58px 0 57px;
  }
}

.page-footer__wrapper {
  @media #{$tablet} {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__logo {
  @media #{$mobile-only} {
    padding: 36px 0 31px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  padding: 22px 81px 20px 72px;

  @media #{$tablet} {
    padding: 0 0 4px 22px;
  }
}

.page-footer__copyright {
  padding: 22px 0 22px;

  @media #{$tablet} {
    padding: 0;
  }
}
