.page-footer {
  background-color: $basic-gray;

  @media #{$tablet} {
    padding: 24px 0 31px;
  }

  @media #{$desktop} {
    padding: 27px 0 31px;
  }
}

.page-footer__wrapper {
  @media #{$tablet} {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__logo {
  padding: 36px 0 31px;

  &[href]:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &[href]:active {
    opacity: 0.6;
  }

  .cat-logo__text {
    flex-grow: 0;
    padding: 0;
  }
}

.page-footer__social {
  padding: 22px 81px 20px 72px;

  @media #{$tablet} {
    padding: 0 0 0 18px;
  }
}

.page-footer__copyright {
  padding: 22px 0 22px;

  @media #{$tablet} {
    padding: 0;
  }
}
