.presentation {
  padding: 27px 0 31px;
  font-family: $oswald-font;
  background-color: $section-bg-color;

  @media #{$tablet} {
    padding: 43px 0 67px;
    background: linear-gradient(to bottom, $basic-white 410px, $presentation-bg-color 197px);
  }

  @media #{$desktop} {
    background: linear-gradient(to bottom, $basic-white 215px, $presentation-bg-color 197px);
  }
}

.presentation__wrapper {
  @media #{$desktop} {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr;
    row-gap: 145px;
  }
}

.presentation__title {
  margin: 0 0 33px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic-dark;

  @media #{$tablet} {
    font-size: 60px;
    line-height: 60px;
  }

  @media #{$desktop} {
    margin: 0;
  }
}

.presentation__info-block {
  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  @media #{$desktop} {
    grid-column: 1 / 2;
    margin: 0;
    flex-direction: column;
  }
}

.presentation__text {
  margin: 0;
  font-family: $arial-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $description-text-color;

  @media #{$tablet} {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media #{$desktop} {
    margin-bottom: 69px;
  }
}

.presentation__count {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $basic-dark;
  text-align: center;
  text-transform: uppercase;

  @media #{$tablet} {
    padding-top: 12px;
    max-width: 180px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media #{$desktop} {
    padding: 0;
    max-width: 100%;
    text-align: left;
  }
}

.presentation__price {
  @media #{$tablet} {
    margin-top: 8px;
    display: block;
  }

  @media #{$desktop} {
    margin: 0;
    display: inline;
  }
}
