.presentation {
  position: relative;
  padding: 27px 0 31px;
  font-family: $oswald-font;
  background-color: $section-bg-color;

  @media #{$tablet} {
    padding: 43px 0 66px;
    background: linear-gradient(to bottom, $basic-white 619px, $presentation-bg-color 197px);
  }

  @media #{$desktop} {
    padding: 7px 0 66px;
    background: linear-gradient(to bottom, $basic-white 198px, #f2f2f2 198px);

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 626px;
      height: 462px;
      background-color: #eaeaea;
    }
  }
}

.presentation__wrapper {
  @media #{$desktop} {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr;
  }
}

.presentation__title {
  margin: 0 0 33px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic-dark;

  @media #{$tablet} {
    margin-bottom: 64px;
    font-size: 60px;
    line-height: 60px;
  }

  @media #{$desktop} {
    margin: 0;
    padding: 55px 0 133px;
  }
}

.presentation__info-block {
  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 82px;
  }

  @media #{$desktop} {
    grid-column: 1 / 2;
    margin: 0;
    flex-direction: column;
  }
}

.presentation__text {
  margin: 0;
  font-family: $arial-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $description-text-color;

  @media #{$tablet} {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media #{$desktop} {
    padding-top: 14px;
    margin-bottom: 52px;
    max-width: 438px;
  }
}

.presentation__food-cost {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $basic-dark;
  text-align: center;
  text-transform: uppercase;

  @media #{$tablet} {
    padding-top: 11px;
    max-width: 180px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media #{$desktop} {
    padding: 0 0 9px;
    justify-content: space-between;
    max-width: 327px;
  }
}

.presentation__costs {
  margin: 0;
  flex-shrink: 0;
}

.presentation__price {
  @media #{$tablet} {
    margin-top: 8px;
    display: inline-block;
  }

  @media #{$desktop} {
    margin: 0;
    margin-left: 55px;
    text-align: right;
  }
}
