.product-catalog {
  padding: 27px 0 0;
  font-family: $oswald-font;
  color: $basic-dark;
}

.product-catalog__title {
  margin: 0 0 41px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
