.product-catalog {
  padding: 0;
  font-family: $oswald-font;
  color: $basic-black;
}

.product-catalog__wrapper {
  padding: 0 20px;

  @media #{$tablet} {
    padding: 0 30px;
  }

  @media #{$desktop} {
    padding: 0;
  }
}

.product-catalog__title {
  margin: 0;
  padding: 27px 0 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media #{$tablet} {
    padding: 51px 0 40px;
    font-size: 60px;
    line-height: 60px;
  }

  @media #{$desktop} {
    padding: 56px 0 40px;
  }
}
