.program {
  padding-top: 22px;

  @media #{$desktop} {
    padding-top: 82px;
  }
}

.program__list {
  @include reset-list-style();

  @media #{$desktop} {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.program__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px 20px;
  font-family: $oswald-font;
  background-color: $program-item-bg-color;

  @media #{$tablet} {
    padding: 77px 62px 53px 53px;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: min-content 1fr min-content;
    min-height: 372px;
  }

  @media #{$desktop} {
    padding: 41px 51px 55px 52px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 570px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media #{$tablet} {
      margin-bottom: 30px;
    }
  }
}

.program__img {
  @media #{$tablet} {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    width: 200px;
    height: 211px;

    &--weight {
      width: 268px;
      height: 200px;
    }
  }

  @media #{$desktop} {
    margin-right: 55px;
    width: 100px;
    height: 106px;

    &--weight {
      width: 134px;
      height: 100px;
    }
  }
}

.program__title {
  margin: 0 0 0 19px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $basic-dark;

  @media #{$tablet} {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 0 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media #{$desktop} {
    margin: 0;
  }
}

.program__description {
  margin: 0 0 23px;
  padding-top: 22px;
  font-family: $arial-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $description-text-color;

  @media #{$tablet} {
    grid-row: 2 / 3;
    max-width: 377px;
    font-size: 16px;
    line-height: 24px;
    color: $basic-dark;
  }

  @media #{$desktop} {
    margin: 0;
    padding: 39px 0 23px;
    max-width: 100%;
  }
}

.program__link-block {
  @media #{$mobile-only} {
    flex: 1;
    padding-top: 18px;
    border-top: 1px solid #d9d9d9;
  }

  @media #{$tablet} {
    grid-row: 3 / 4;
  }

  @media #{$desktop} {
    width: 100%;
  }
}

.program__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-right: 65px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-dark;
  cursor: pointer;

  @media #{$tablet} {
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 136px;
    width: 24px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 12' fill='currentColor'%3E%3Cpath stroke='%23000' stroke-width='2' d='M0 6h18'/%3E%3Cpath d='m24 6-6.75 5.196V.804L24 6z' fill='%23000'/%3E%3C/svg%3E%0A");
  }

  &:hover {
    &::after {
      width: 32px;
      background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 12'%3E%3Cpath stroke='%23000' stroke-width='2' d='M0 6h26'/%3E%3Cpath d='m32 6-6.75 5.196V.804L32 6z' fill='%23000'/%3E%3C/svg%3E%0A");
    }
  }

  &:active {
    opacity: 0.3;
  }
}
