.program {
  padding-top: 22px;

  @media #{$tablet} {
    padding-top: 0;
  }

  @media #{$desktop} {
    padding-top: 82px;
  }
}

.program__list {
  @include reset-list-style();

  @media #{$desktop} {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.program__item {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 18px 18px 21px;
  font-family: $oswald-font;
  background-color: $basic-gray;

  @media #{$tablet} {
    padding: 77px 271px 57px 53px;
    flex-direction: column;
    align-items: flex-start;
  }

  @media #{$desktop} {
    padding: 77px 51px 59px 52px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 570px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media #{$tablet} {
      margin-bottom: 30px;
    }
  }

  &--weight {
    @media #{$tablet} {
      padding: 77px 311px 57px 53px;
    }

    @media #{$desktop} {
      padding: 77px 51px 59px 52px;
    }
  }
}

.program__icon {
  position: absolute;
  top: 21px;
  left: 22px;

  &--weight {
    top: 24px;
    left: 13px;
  }

  @media #{$tablet} {
    top: 80px;
    left: auto;
    right: 62px;
    width: 200px;
    height: 212px;

    &--weight {
      top: 91px;
      right: 29px;
      width: 268px;
      height: 200px;
    }
  }

  @media #{$desktop} {
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
    right: auto;

    &--weight {
      width: 134px;
      height: 100px;
      top: 47px;
      left: 33px;
    }
  }
}

.program__title {
  margin: 0 0 29px;
  padding-left: 70px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $basic-black;

  @media #{$tablet} {
    padding-left: 0;
    margin: 0 0 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media #{$desktop} {
    margin: 0;
    padding-left: 162px;
  }
}

.program__description {
  margin: 0 0 22px;
  font-family: $arial-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-gray-darker;

  @media #{$tablet} {
    margin: 0 0 52px;
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
  }

  @media #{$desktop} {
    margin: 0;
    padding: 74px 0 26px;
    max-width: 100%;
  }
}

.program__link-block {
  @media #{$mobile-only} {
    flex: 1;
    padding-top: 15px;
    border-top: 1px solid $basic-gray-darker;
  }

  @media #{$desktop} {
    width: 100%;
  }
}


.program__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-right: 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;
  cursor: pointer;
  transition: 0.2s;

  @media #{$tablet} {
    padding-right: 56px;
    font-size: 20px;
    line-height: 30px;
  }

  @media #{$desktop} {
    padding-right: 60px;
  }

  &:hover,
  &:focus {
    .icon-arrow-line {
      d: path("M0 6h28");
    }

    .icon-arrow-head {
      d: path("m32 6-6.75 5.196V.804L32 6z");
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.program__link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;

  path {
    transition: ease-out 0.2s;
  }
}
