.promo-info {
  background-image:
    linear-gradient(to top, $basic-white 97px, transparent 97px),
    url("../img/index-bg/index-bg-mobile.jpg"),
    linear-gradient(to top, $basic-white 197px, $secondary-green 197px);
  background-repeat: no-repeat;
  background-position: top;
  background-color: $secondary-green;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(to top, $basic-white 97px, transparent 97px),
      url("../img/index-bg/index-bg-mobile@2x.jpg"),
      linear-gradient(to top, $basic-white 197px, $secondary-green 197px);
  }

  @media #{$tablet} {
    background: none;
  }

  @media #{$desktop} {
    padding-bottom: 165px;
  }
}

.promo-info__wrapper {
  position: relative;
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  font-family: $oswald-font;
  text-align: center;
  color: $basic-white;

  @media #{$tablet} {
    padding-top: 50px;
    text-align: left;
  }

  @media #{$desktop} {
    padding: 91px 0 20px;
  }
}

.promo-info__title {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media #{$tablet} {
    margin: 0 0 41px;
    max-width: 414px;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
  }
}

.promo-info__text {
  margin: 0 0 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media #{$tablet} {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
  }

  @media #{$desktop} {
    margin-bottom: 51px;
  }
}

.promo-info__img {
  display: block;
  margin: 0 auto;

  @media #{$tablet} {
    margin-bottom: -83px;
    position: relative;
    width: 709px;
    height: 609px;
    bottom: 83px;
  }

  @media #{$desktop} {
    position: absolute;
    top: 9px;
    left: 448px;
    width: 552px;
    height: 499px;
  }
}

.promo-info__button {
  padding: 8px 44px;
  min-height: 40px;
  font-size: 14px;
  line-height: 18px;

  @media #{$mobile-only} {
    order: 1;
  }

  @media #{$tablet} {
    padding: 17px 26px;
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    z-index: 2;
  }

  @media #{$desktop} {
    margin-bottom: 0;
  }
}

.promo-info__content {
  @media #{$tablet} {
    margin-left: 85px;
  }

  @media #{$desktop} {
    margin-left: 80px;
  }
}
