.social {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $footer-border-color;
  border-bottom: 1px solid $footer-border-color;
  list-style: none;

  @media #{$tablet} {
    flex-wrap: wrap;
    width: 144px;
    border: none;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  &--vk {
    @media #{$tablet} {
      width: 29px;
      height: 17px;
    }
  }

  &--inst {
    @media #{$tablet} {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    @media #{$tablet} {
      width: 18px;
      height: 28px;
    }
  }
}
