.social {
  @include reset-list-style();

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 77px 20px;
  margin: 0 -20px;
  border-top: 1px solid $footer-border-color;
  border-bottom: 1px solid $footer-border-color;

  @media #{$tablet} {
    padding: 0;
    width: 122px;
    border: none;
  }
}

.social__link {
  cursor: pointer;
}
