*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media #{$tablet} {
    padding: 0 30px;
  }

  @media #{$desktop} {
    padding: 0;
    max-width: 1220px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
