// Fonts

$oswald-font: "Oswald", "Arial", sans-serif;
$arial-font: "Arial", sans-serif;

// Colors
$basic-white: #ffffff;
$basic-white-dark: #e7e7e7;

$basic-black: #000000;
$basic-black-light: #111111;

$basic-green: #68b738;

$secondary-green: #5eaa2f;

$basic-gray: #f2f2f2;
$basic-gray-dark: #eaeaea;
$basic-gray-darker: #d9d9d9;

$special-gray: #cdcdcd;
$special-gray-light: #ebebeb;
$special-gray-dark: #666666;
$special-gray-darker: #444444;
$special-gray-darkest: #222222;

$error-color: #ff8282;

// Viewports

$desktop: (min-width: 1440px);
$tablet: (min-width: 768px);
$mobile-only: (max-width: 767px);
