// Fonts

$oswald-font: "Oswald", "Arial", sans-serif;
$arial-font: "Arial", sans-serif;

// Colors

$basic-white: #ffffff;
$basic-dark: #000000;
$main-color: #68b738;
$secondary-color: #5eaa2f;
$promo-bg-color: #61a63c;
$burger-border-color: #e6e6e6;
$program-item-bg-color: #f2f2f2;
$description-text-color: #444444;
$section-bg-color: #eaeaea;
$location-bg-color: #f2f2f2;
$location-text-color: #111111;
$footer-border-color: #d9d9d9;
$footer-bg-color: #f2f2f2;
$fieldset-border-mobile-color: #d9d9d9;
$input-label-color: #444444;
$radio-label-color: #222222;
$catalog-border-color: #ebebeb;
$more-button-color: #f2f2f2;
$cat-product-title-color: #222222;
$cat-product-more-color: #111111;
$cat-product-text-color: #444444;
$optional-name-color: #222222;
$presentation-bg-color: #eaeaea;
$border-form-color: #e7e7e7;
$fieldset-border-color: #68b738;
$product-bg-color: #f2f2f2;
$product-data-border-color: #cdcdcd;

// Viewports

$desktop: (min-width: 1440px);
$tablet: (min-width: 768px);
$mobile: (max-width: 320px);
