.choose-program-group {
  margin: 0 -20px 0;
  padding: 6px 20px 2px;
  border-top: 1px solid $basic-gray-darker;
  border-bottom: 1px solid $basic-gray-darker;

  @media #{$tablet} {
    padding: 8px 27px;
    margin: 0;
    border: 1px solid $basic-white-dark;
  }

  @media #{$desktop} {
    margin-bottom: 2px;
    width: 570px;
  }
}

.choose-program-group__field-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.choose-program-group__field-item {
  margin: 19px 0;

  @media #{$tablet} {
    margin: 22px 0;
    font-size: 20px;
    line-height: 30px;
  }
}
