.select-program {
  padding: 27px 0 0;
  font-family: $oswald-font;
  font-weight: 400;
  color: $basic-black;
  overflow: hidden;

  @media #{$tablet} {
    padding: 51px 0 72px;
  }

  @media #{$desktop} {
    padding: 55px 0 82px;
  }
}

.select-program__wrapper {
  @media #{$tablet} {
    padding: 0 67px 0 71px;
  }

  @media #{$desktop} {
    padding: 0;
  }
}

.select-program__title {
  margin: 0 0 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media #{$tablet} {
    margin: 0 0 55px;
    font-size: 60px;
    line-height: 60px;
  }
}

.select-program__description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media #{$tablet} {
    font-size: 20px;
    line-height: 30px;
  }
}

.select-program__inner-column {
  @media #{$desktop} {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.select-program__submit-block {
  margin-bottom: 32px;

  @media #{$tablet} {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
}

.select-program__button {
  padding: 7px 24px;
  width: 100%;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-white;

  @media #{$tablet} {
    margin-right: 61px;
    width: 282px;
    max-width: 568px;
    min-height: 52px;
    font-size: 20px;
  }

  @media (min-width: 769px) {
    width: 100%;
  }

  @media #{$desktop} {
    max-width: 568px;
    margin-right: 81px;
  }
}

.select-program__require-text {
  margin: 0;
  padding: 21px 0 0;
  font-family: $arial-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: none;

  @media #{$tablet} {
    padding: 0 0 5px;
    flex-shrink: 0;
    font-size: 16px;
  }

  @media #{$desktop} {
    padding: 0;
  }

  sup {
    font-size: inherit;
    vertical-align: top;
  }
}

// Input

.select-program__field {
  font: inherit;
  height: 45px;
  width: 100%;
  color: $special-gray-darker;
  border: 1px solid $basic-white-dark;
  text-transform: uppercase;
  cursor: text;

  @media #{$tablet} {
    height: 52px;
  }

  &:hover {
    border: 1px solid $special-gray;
  }

  &:focus {
    border: 2px solid $special-gray-darker;

    & + .icon-email svg {
      stroke: $basic-green;
    }

    & + .icon-phone svg {
      fill: $basic-green;
    }
  }
}

.select-program__field--error,
.select-program__field--error:hover,
.select-program__field--error:active,
.select-program__field--error:focus {
  border-color: $error-color;

  & + .icon-email svg {
    stroke: $error-color;
  }

  & + .icon-phone svg {
    fill: $error-color;
  }
}

.select-program__input-label {
  font: inherit;
  flex-shrink: 0;
  color: $special-gray-darker;
  text-transform: uppercase;

  sup {
    font-size: inherit;
    vertical-align: top;
  }
}

// Radio

.select-program__radio {
  & + label::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $special-gray;
    border-radius: 50%;

    @media #{$tablet} {
      width: 40px;
      height: 40px;
    }
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 9px;
    width: 13px;
    height: 13px;
    background-color: $basic-green;
    border-radius: 50%;

    @media #{$tablet} {
      left: 11px;
      width: 18px;
      height: 18px;
    }
  }

  &:hover + label::before {
    border: 1px solid #bababa;
  }

  &:focus + label::before {
    box-shadow: 0 0 0 2px $basic-green;
  }

  &:disabled + label::before,
  &:disabled + label::after,
  &:disabled + .radio-label {
    opacity: 0.3;
  }
}

.select-program__radio-label {
  position: relative;
  padding-left: 45px;
  color: $special-gray-darkest;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity 0.3s;

  @media #{$tablet} {
    padding-left: 60px;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    box-shadow: 0 0 1px 0 $basic-black;
  }
}

// Checkbox

.select-program__checkbox {
  & + label::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $special-gray;

    @media #{$tablet} {
      width: 40px;
      height: 40px;
    }
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    width: 18px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 15'%3E%3Cpath d='M7 11.718 1.3 5.27.25 6.457 7 14.094 18.25 1.366 17.2.094 7 11.718z' fill='%2368B738'/%3E%3C/svg%3E%0A");

    @media #{$tablet} {
      left: 11px;
    }
  }

  &:hover + label::before {
    border: 1px solid #bababa;
  }

  &:focus + label::before {
    box-shadow: 0 0 0 2px $basic-green;
  }

  &:disabled + label::before,
  &:disabled + label::after,
  &:disabled + .checkbox-label {
    opacity: 0.3;
  }
}

.select-program__checkbox-label {
  position: relative;
  padding-left: 45px;
  color: $special-gray-darkest;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity 0.3s;

  @media #{$tablet} {
    padding-left: 59px;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }

  &:focus {
    box-shadow: 0 0 1px 1px $basic-black;
  }
}
